html{
   
	background-color:#2F2F2F;
}

body{
     background-image: url("https://cdn4.cnet.com/img/YVoC6TRSJ1N4p33Q0ByFW5n65rQ=/1600x900/2016/07/28/e466d320-2f14-4824-b6a7-98a7f2ddf0bc/windows10lightandmirrorbackground0.jpg");
	height: 100%;
	background-color:rgb(201,76,76);
}


#header {
    margin-left:20%;
    top: 0px;
    width: 80%;
	height: 20%;
	position: fixed;
	font-family: 'bgMed',arial,helvetica,sans-serif;
    font-size: 0.6em;
    color: #fff;
    z-index: 15;
    text-transform: uppercase;
   background-image: url("http://4.bp.blogspot.com/-Qh2zbnoeOuY/UjziE89PvSI/AAAAAAAAOWg/enq3AjbcphI/s1600/Descargar+pack+fondos+abstractos++(312).jpg");
    border-bottom: 2px solid hsl(180,70%,55%);
    padding-top:20px;
    text-align:center;
}

#footer {
	margin-left:20%;
    left: 0px;
    bottom: 0px;
    width: 80%;
	height: 10%;
	position: fixed;
	font-family: 'bgMed',arial,helvetica,sans-serif;
    font-size: 0.6em;
    color: #fff;
    z-index: 15;
    text-transform: uppercase;
   background-image: url("http://4.bp.blogspot.com/-Qh2zbnoeOuY/UjziE89PvSI/AAAAAAAAOWg/enq3AjbcphI/s1600/Descargar+pack+fondos+abstractos++(312).jpg");
	padding-top:20px;   
    text-align:center;
}


#sidemenu {
    width: 10%;
   background-image: url("http://ubuntualways.files.wordpress.com/2012/05/2560_1600.jpg");
    height: 100%;
    overflow: auto;
    float: left;
    z-index: 20;
    position: fixed;
    left: 10px;
    padding-top:20px;
    text-size:100;
}

#sidemenu #menu {
    color: #fff;
    text-align: right;
    list-style-type: none;
    margin-right: 40px;
    float: right;
}

#sidemenu #menu li {
    width: 150px;
    height: 35px;
    font-size: 1.2em;
    padding-right:5px;
}

#sidemenu #menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

#sidemenu #menu li:active{
	border-left: 5px solid hsl(180,70%,55%);
}

#sidemenu #menu li:hover {
    background-color: #635555;
    border-left: 5px solid hsl(180,70%,55%);
}

.logo{
	float:left;
}

#site-content {
    width: 80%;
    height: 100%;
    overflow: auto;
    float: left;
    z-index: 20;
    position: fixed;
    min-height: 600px;
    margin-top:10%;
    margin-bottom:10%;
    margin-left:20%;
    padding-left:10px;
}
    
